@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@300&family=Poppins&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

/* main container */
.container {
    width: 350px;
    height: 652px;
    margin: auto;
}

.log {
    border-bottom: 2px solid #f9ba63;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 49px;
}



.first {
    width: 85px;
    margin-left: 104px;
    margin-right: 104px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: rgba(24, 31, 41, 0.85);
}

.arrow{
    width: 7px;
    height: 13px;
    margin-left: 18px;
}

.search{
    height: 49px;
    margin-top: 13px;
    margin-left: 14px;
    margin-bottom: 4px;
    margin-right: 14px;
}
.input{
    width: 322px;
    height: 32px;
    border-radius: 50px;
    text-align: center;
    border: transparent;
    background: rgba(232, 232, 237, 0.87);
    opacity: 0.5;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}