@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@300&family=Poppins&display=swap');

/* MAIN CONTAINER */
.login {
    width: 360px;
    height: 903px;
    margin: auto;
}

.line {
    border-bottom: 2px solid #f9ba63;
    display: flex;
    padding-bottom: 7px;
}

/* HYYZO IMAGE */
.headerImg {
    width: 97px;
    margin-left: 15px;
}

/* SIDE IMAGE */
.image {
    height: 28px;
    width: 28px;
    margin-left: 169px;
    margin-top: 2px;
}

.image1 {
    height: 28px;
    width: 28px;
    margin-top: 3px;
    padding-left: 14px;
    background: none;
}

/* AVAIL BALANCE FORM */
.form {
    background: linear-gradient(224.72deg, #ED6A3F -9.64%, #F7AC5D 108.49%);
    ;
    height: 172px;
    width: 320px;
    margin-top: 22px;
    margin-bottom: 22px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.form_ele {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.form1 {
    height: 112px;
}

.yellow {
    display: flex;
}

.mid {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 16px;
    color: #fff;
}

.dia {
    margin-top: 16px;
    padding-left: 5px;
    height: 36.99px;
    width: 36.9px;
}

.run {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    padding-left: 15px;
    color: #FFFFFF;
    margin: 0px;
    letter-spacing: 0.04em;
}

p {
    margin: -5px;
}

.bal {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    margin-left: 45px;
    margin-top: 15px;
    color: #FFFFFF;
    letter-spacing: 0.06em;
}

.num {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    ;
}

.red {
    display: flex;
}

.dia1 {
    width: 28.92px;
    height: 28.99px;
    margin-left: 85px;
    margin-right: 5px;
    margin-top: 10px;
}

/* COPY LINK BUTTON */
.para {
    box-sizing: border-box;
    position: absolute;
    width: 167px;
    height: 34px;
    margin-left: 77px;
    margin-bottom: 26px;
    margin-right: 76px;
    border: 1px dashed #FFFFFF;
}

.inside {
    padding-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 7px;
    line-height: 10px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 5px;
    border-left: 1px dashed #FFFFFF;
}

.span {
    padding-left: 115px;
}

.code {
    position: absolute;
    margin-top: 5px;
    width: 65px;
    height: 23px;
    left: calc(50% - 65px/2 - 20.5px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* CREATE USERNAME */
.box-shadow {
    background: #fff;
    box-shadow: 4px 3px 8px 1px #ffffff;
    -webkit-box-shadow: 4px 3px 7px 1px #dddbdb;
    margin-top: 22px;
    margin-left: 17px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 320px;
    height: 130px;
    border-radius: 8px;
}

.next {
    position: absolute;
    width: 143px;
    height: 24px;
    margin-top: 10px;
    margin-left: 89px;
    margin-bottom: 96px;
    /* margin-right: 88px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: rgba(87, 89, 93, 0.85);
}

.after {
    margin-left: 15px;
}

.input {
    margin-top: 50px;
    width: 276px;
    height: 32px;
    border-radius: 50px;
    padding-left: 19px;
    border: transparent;
    background: rgba(236, 236, 242, 0.87);
    opacity: 0.5;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #A2A2A2;
}

.button {
    width: 100px;
    height: 26px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 8px;
    margin-top: 9px;
    padding-top: 3px;
    background: linear-gradient(135deg, #F9BA63 0%, #EC5E3A 98.96%);
    border-radius: 22px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    color: #FFFFFF;
}

/* RECENTLY VISITED */
.b_header {
    height: 22px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    /* letter-spacing: 0.06em; */
    text-transform: uppercase;
    color: rgba(24, 31, 41, 0.85);
}

.head {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.side_header {
    padding-top: 3px;
    margin-right: 28px;
    margin-left: 92px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-decoration-line: underline;
    color: rgba(24, 31, 41, 0.5);
}

.card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.container {
    padding-top: 11px;
    padding-left: 12px;
    padding-right: 9px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.amazon {
    width: 142px;
    height: 62px;
    border-radius: 4px;
}

.box1 {
    width: 151px;
    height: 120px;
    margin-top: 21px;
    margin-left: 18px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.myntra {
    width: 142px;
    height: 62px;
    border-radius: 4px;
}

.box2 {
    width: 151px;
    height: 120px;
    margin-top: 21px;
    margin-left: 25px;
    margin-right: 18px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.card_content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #000000;
}

.angle {
    width: 7px;
    height: 13px;
    /* padding-left: 10px; */
}

.heading {
    display: flex;
    justify-content: space-between;
}

.heading_img {
    width: 18px;
    height: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.heading_para {
    width: 95px;
    height: 14px;
    padding-right: 31px;
    margin-top: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    /* opacity: 0.8; */
    font-size: 8px;
    color: rgba(21, 21, 21, 0.85);
}

.heading_img_1 {
    width: 18px;
    height: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.heading_para_1 {
    width: 95px;
    height: 14px;
    margin-top: 6px;
    margin-left: 4px;
    padding-right: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    /* opacity: 0.8; */
    font-size: 8px;
    color: rgba(21, 21, 21, 0.85);
}

/* ACTIVITIES & TASKS */
.footer {
    display: flex;
    justify-content: space-between;
}

.f_heading {
    width: 179px;
    height: 27px;
    margin-left: 17px;
    margin-top: 22px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(24, 31, 41, 0.85);
}

.div_foot {
    margin-right: 20px;
}

._arrow {
    height: 15px;
    margin-top: 31px;
    margin-left: 5px;
    margin-right: 10px;
}

.last {
    display: flex;
    width: 330px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 8px;
}

.fun {
    height: 154px;
}

.footer_image {
    width: 129px;
    height: 144px;
    margin-top: 10px;
    margin-left: 4px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.last_footer {
    width: 165px;
    height: 21px;
    margin-top: 20px;
    margin-left: 7px;
    margin-bottom: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: rgba(24, 31, 41, 0.85);
}

.footer_para {
    width: 182px;
    height: 63px;
    margin-top: 9px;
    margin-left: 7px;
    font-family: 'Poppins';
    font-style:normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(24, 31, 41, 0.85);
}

.button1 {
    width: 166px;
    height: 24px;
    margin-left: 7px;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-right: 8px;
    background: linear-gradient(135deg, #F9BA63 0%, #EC5E3A 98.96%);
    border-radius: 4px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 16px;
    color: #FFFFFF;
}